window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid #ffffff;
  background-color: #121212;
}

label {
  font-family: 'Nimbus Mono PS';
  font-size: 11pt;
  color: #ffffff;
}

image {
  color: #ffffff;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: #ffffff;
}
